<p>Пользователь успешно зашел</p>
<p>Имя пользователя: <%= user.username %></p>
<p>Аккаунт был создан: <%= user.created %></p>
<form action="/main" method="get">
    <div>
        <input type="submit" value="На главную"/>
    </div>
</form>
